# Binaries
**/bin/
!vendor/premake/bin/
bin-int/
Intermediates/

Sandbox/*.json
**.csproj

*.log
*.dll
*.pdb

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
QAQ/vendor/VulkanSDK
QAQNut/assets/cache
scripts/__pycache__ 