[submodule "QAQ\\vendor\\spdlog"]
	path = QAQ\\vendor\\spdlog
	url = https://github.com/gabime/spdlog
[submodule "QAQ\\vendor\\GLFW"]
	path = QAQ\\vendor\\GLFW
	url = https://github.com/TheCherno/glfw
