[submodule "QAQ/vendor/GLFW"]
	path = QAQ/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "QAQ/vendor/glm"]
	path = QAQ/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "QAQ/vendor/imgui"]
	path = QAQ/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "QAQ/vendor/spdlog"]
	path = QAQ/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "QAQ/vendor/yaml-cpp"]
	path = QAQ/vendor/yaml-cpp
	url = https://github.com/jsjtxietian/yaml-cpp.git
[submodule "QAQ/vendor/ImGuizmo"]
	path = QAQ/vendor/ImGuizmo
	url = https://github.com/thecherno/imguizmo
[submodule "QAQ/vendor/Box2D"]
	path = QAQ/vendor/Box2D
	url = https://github.com/thecherno/box2d
